In [2]:
# import libraries needed
import numpy as np
import pandas as pd

# Assignment 1: Series Basics

The code has been previded to create an array, `oil_array` from a dataframe column. 

* Convert `oil_array` into a Pandas Series, called `oil_series`. Give it a name!
* Return the name, dtype, size, and index of `oil_series`.

Take the mean of the values array. 

Then, convert the series to integer datatype and recalculate the mean.

In [5]:
# create a DataFrame from the oil file, drop missing values
oil = pd.read_csv("oil.csv").dropna()

# Grab 100 rows of oil prices
oil_array = np.array(oil["dcoilwtico"].iloc[1000:1100])

oil_array

array([52.22, 51.44, 51.98, 52.01, 52.82, 54.01, 53.8 , 53.75, 52.36,
       53.26, 53.77, 53.98, 51.95, 50.82, 52.19, 53.01, 52.36, 52.45,
       51.12, 51.39, 52.33, 52.77, 52.38, 52.14, 53.24, 53.18, 52.63,
       52.75, 53.9 , 53.55, 53.81, 53.01, 52.19, 52.37, 52.99, 53.84,
       52.96, 53.21, 53.11, 53.41, 53.41, 54.02, 53.61, 54.48, 53.99,
       54.04, 54.  , 53.82, 52.63, 53.33, 53.19, 52.68, 49.83, 48.75,
       48.05, 47.95, 47.24, 48.34, 48.3 , 48.34, 47.79, 47.02, 47.29,
       47.  , 47.3 , 47.02, 48.36, 49.47, 50.3 , 50.54, 50.25, 50.99,
       51.14, 51.69, 52.25, 53.06, 53.38, 53.12, 53.19, 52.62, 52.46,
       50.49, 50.26, 49.64, 48.9 , 49.22, 49.22, 48.96, 49.31, 48.83,
       47.65, 47.79, 45.55, 46.23, 46.46, 45.84, 47.28, 47.81, 47.83,
       48.86])

In [10]:
oil_prices = pd.Series(oil_array, name='oil_prices')
oil_prices

0     52.22
1     51.44
2     51.98
3     52.01
4     52.82
      ...
95    45.84
96    47.28
97    47.81
98    47.83
99    48.86
Name: oil_prices, Length: 100, dtype: float64

In [12]:
oil_prices.name

'oil_prices'

In [13]:
oil_prices.dtype

dtype('float64')

In [14]:
oil_prices.size

100

In [15]:
oil_prices.index

RangeIndex(start=0, stop=100, step=1)

In [16]:
oil_prices.values.mean()

51.128299999999996

In [22]:
new_oil_prices = oil_prices.astype('int64')
new_oil_prices

0     52
1     51
2     51
3     52
4     52
      ..
95    45
96    47
97    47
98    47
99    48
Name: oil_prices, Length: 100, dtype: int64

In [23]:
new_oil_prices.mean()

50.66

# Assignment 2:  Accessing Series Data

* Set the date series, which has been created below, to be the index of the oil price series created in assignment 1.


* Then, take the mean of the first 10 and last 10 prices of the series.


* Finally, grab all oil prices from January 1st, 2017 - January 7th, 2017 (inclusive) and set the index to the default integer index.

In [27]:
# extract date column from oil DataFrame and grab first 100 rows

dates = pd.Series(oil["date"]).iloc[1000:1100]
dates

1035    2016-12-20
1036    2016-12-21
1037    2016-12-22
1038    2016-12-23
1040    2016-12-27
           ...
1135    2017-05-09
1136    2017-05-10
1137    2017-05-11
1138    2017-05-12
1139    2017-05-15
Name: date, Length: 100, dtype: object

In [30]:
oil_prices.index = dates.values
oil_prices

2016-12-20    52.22
2016-12-21    51.44
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
              ...
2017-05-09    45.84
2017-05-10    47.28
2017-05-11    47.81
2017-05-12    47.83
2017-05-15    48.86
Name: oil_prices, Length: 100, dtype: float64

In [38]:
oil_prices.iloc[:10].values.mean()

52.765

In [40]:
oil_prices.iloc[-10:].values.mean()

47.13

In [45]:
january_prices = oil_prices.loc['2017-01-01':'2017-01-7']
january_prices

2017-01-03    52.36
2017-01-04    53.26
2017-01-05    53.77
2017-01-06    53.98
2017-01-09    51.95
2017-01-10    50.82
2017-01-11    52.19
2017-01-12    53.01
2017-01-13    52.36
2017-01-17    52.45
2017-01-18    51.12
2017-01-19    51.39
2017-01-20    52.33
2017-01-23    52.77
2017-01-24    52.38
2017-01-25    52.14
2017-01-26    53.24
2017-01-27    53.18
2017-01-30    52.63
2017-01-31    52.75
Name: oil_prices, dtype: float64

In [47]:
january_prices.reset_index(drop=True)

0     52.36
1     53.26
2     53.77
3     53.98
4     51.95
5     50.82
6     52.19
7     53.01
8     52.36
9     52.45
10    51.12
11    51.39
12    52.33
13    52.77
14    52.38
15    52.14
16    53.24
17    53.18
18    52.63
19    52.75
Name: oil_prices, dtype: float64

# Assignment 3: Sorting and Filtering Series

* First, get the 10 lowest prices from the data. 
* Sort the 10 lowest prices by date, starting with the most recent and ending with the oldest price.

* Finally, use the list of provided dates. Select only rows with these dates that had a price of less than 50 dollars per barrel.

In [55]:
# list of dates to be used to solve bullet 3

dates = [
    "2016-12-22",
    "2017-05-03",
    "2017-01-06",
    "2017-03-05",
    "2017-02-12",
    "2017-03-21",
    "2017-04-14",
    "2017-04-15",
]

In [51]:
ten_lowest_prices = oil_prices.sort_values()[:10]
ten_lowest_prices

2017-05-04    45.55
2017-05-09    45.84
2017-05-05    46.23
2017-05-08    46.46
2017-03-23    47.00
2017-03-21    47.02
2017-03-27    47.02
2017-03-14    47.24
2017-05-10    47.28
2017-03-22    47.29
Name: oil_prices, dtype: float64

In [53]:
ten_lowest_prices.sort_index(ascending=False)

2017-05-10    47.28
2017-05-09    45.84
2017-05-08    46.46
2017-05-05    46.23
2017-05-04    45.55
2017-03-27    47.02
2017-03-23    47.00
2017-03-22    47.29
2017-03-21    47.02
2017-03-14    47.24
Name: oil_prices, dtype: float64

In [59]:
mask = (oil_prices.index.isin(dates)) & (oil_prices.values <= (50))
oil_prices.loc[mask]

2017-03-21    47.02
2017-05-03    47.79
Name: oil_prices, dtype: float64


# Assignment 4: Series Operations

* Increase the prices in the oil series by 10%, and add an additional 2 dollars per barrel on top of that.

* Then, create a series that represents the % difference between each price and max price.

* Finally, extract the month from the string dates in the index and store them as an integer in their own series.

In [61]:
oil_prices

2016-12-20    52.22
2016-12-21    51.44
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
              ...
2017-05-09    45.84
2017-05-10    47.28
2017-05-11    47.81
2017-05-12    47.83
2017-05-15    48.86
Name: oil_prices, Length: 100, dtype: float64

In [63]:
oil_prices.mul(1.1).add(2).round(2)

2016-12-20    59.44
2016-12-21    58.58
2016-12-22    59.18
2016-12-23    59.21
2016-12-27    60.10
              ...
2017-05-09    52.42
2017-05-10    54.01
2017-05-11    54.59
2017-05-12    54.61
2017-05-15    55.75
Name: oil_prices, Length: 100, dtype: float64

In [81]:
price_difrence = oil_prices.sub(oil_prices.max()).div(oil_prices.max()).mul(100).round(2)
price_difrence.astype('str') + " %"

2016-12-20     -4.15 %
2016-12-21     -5.58 %
2016-12-22     -4.59 %
2016-12-23     -4.53 %
2016-12-27     -3.05 %
                ...
2017-05-09    -15.86 %
2017-05-10    -13.22 %
2017-05-11    -12.24 %
2017-05-12    -12.21 %
2017-05-15    -10.32 %
Name: oil_prices, Length: 100, dtype: object

In [75]:
months = oil_prices.index.str[5:7]
months

Index(['12', '12', '12', '12', '12', '12', '12', '12', '01', '01', '01', '01',
       '01', '01', '01', '01', '01', '01', '01', '01', '01', '01', '01', '01',
       '01', '01', '01', '01', '02', '02', '02', '02', '02', '02', '02', '02',
       '02', '02', '02', '02', '02', '02', '02', '02', '02', '02', '02', '03',
       '03', '03', '03', '03', '03', '03', '03', '03', '03', '03', '03', '03',
       '03', '03', '03', '03', '03', '03', '03', '03', '03', '03', '04', '04',
       '04', '04', '04', '04', '04', '04', '04', '04', '04', '04', '04', '04',
       '04', '04', '04', '04', '04', '05', '05', '05', '05', '05', '05', '05',
       '05', '05', '05', '05'],
      dtype='object')

In [77]:
months_series = pd.Series(months, dtype='int64')
months_series

0     12
1     12
2     12
3     12
4     12
      ..
95     5
96     5
97     5
98     5
99     5
Length: 100, dtype: int64

# Assignment 5: Series Aggregations

* Calculate the sum and mean of prices in the month of March. 

* Next, calculate how many prices were recorded in January and February.

* Then, calculate the 10th and 90th percentiles across all data.

* Finally, how often did integer dollar value (e.g. 51, 52) occur in the data? Normalize this to a percentage.

In [91]:
march_prices = oil_prices.loc['2017-03-01':'2017-03-31']
march_prices

2017-03-01    53.82
2017-03-02    52.63
2017-03-03    53.33
2017-03-06    53.19
2017-03-07    52.68
2017-03-08    49.83
2017-03-09    48.75
2017-03-10    48.05
2017-03-13    47.95
2017-03-14    47.24
2017-03-15    48.34
2017-03-16    48.30
2017-03-17    48.34
2017-03-20    47.79
2017-03-21    47.02
2017-03-22    47.29
2017-03-23    47.00
2017-03-24    47.30
2017-03-27    47.02
2017-03-28    48.36
2017-03-29    49.47
2017-03-30    50.30
2017-03-31    50.54
Name: oil_prices, dtype: float64

In [92]:
march_prices.mean()

49.32782608695651

In [93]:
march_prices.sum()

1134.5399999999997

In [94]:
jan_feb_prices = oil_prices.loc['2017-01-01':'2017-02-29']
jan_feb_prices.count()

39

In [97]:
oil_prices.quantile([0.1, 0.9])

0.1    47.299
0.9    53.811
Name: oil_prices, dtype: float64

In [102]:
int_prices = oil_prices.astype('int64')
int_prices[int_prices.isin([51,52])].value_counts(normalize=True)

oil_prices
52    0.758621
51    0.241379
Name: proportion, dtype: float64

# Assignment 6: Missing Data

There were some erroneous prices in our data, so they were filled in with missing values.

Can you confirm the number of missing values in the price column? 

Once you’ve done that, fill the prices in with the median of the oil price series.

In [106]:
# Fill in two values with missing data

oil_prices = oil_prices.where(~oil_prices.isin([51.44, 47.83]), pd.NA)
oil_prices

2016-12-20    52.22
2016-12-21      NaN
2016-12-22    51.98
2016-12-23    52.01
2016-12-27    52.82
              ...
2017-05-09    45.84
2017-05-10    47.28
2017-05-11    47.81
2017-05-12      NaN
2017-05-15    48.86
Name: oil_prices, Length: 100, dtype: float64

In [110]:
oil_prices.isna().sum()

2

In [112]:
median = oil_prices.median()
oil_prices.fillna(median)

2016-12-20    52.220
2016-12-21    52.205
2016-12-22    51.980
2016-12-23    52.010
2016-12-27    52.820
               ...
2017-05-09    45.840
2017-05-10    47.280
2017-05-11    47.810
2017-05-12    52.205
2017-05-15    48.860
Name: oil_prices, Length: 100, dtype: float64

# Exercise 7: Apply and Where

Write a function that outputs ‘buy’ if price is less than the 90th percentile and ‘wait’ if it’s not. Apply it to the oil series.

Then, create a series that multiplies price by .9 if the date is ‘2016-12-23’ or ‘2017-05-10’, and 1.1 for all other dates.

In [124]:
new_oil_prices = oil_prices.fillna(oil_prices.median())

In [133]:
oil_prices.apply(lambda x:'Buy' if x < oil_prices.quantile(0.90) else 'wait')

2016-12-20     Buy
2016-12-21    wait
2016-12-22     Buy
2016-12-23     Buy
2016-12-27     Buy
              ...
2017-05-09     Buy
2017-05-10     Buy
2017-05-11     Buy
2017-05-12    wait
2017-05-15     Buy
Name: oil_prices, Length: 100, dtype: object

In [130]:
pd.Series(np.where(oil_prices.index.isin(['2016-12-23', '2017-05-10']),
         oil_prices.mul(0.9),
         oil_prices.mul(1.1)
        ))

0     57.442
1        NaN
2     57.178
3     46.809
4     58.102
       ...
95    50.424
96    42.552
97    52.591
98       NaN
99    53.746
Length: 100, dtype: float64